.container {
  padding: 40px;
  background: #f5f6f8;
  min-height: 100vh;
  font-family: Arial;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-btn {
  padding: 10px 15px;
  background: black;
  color: white;
  border-radius: 12px;
  border: none;
}

/* 🔥 Form Card */
.create-form {
  background: #fff;
  padding: 25px 30px;
  border-radius: 20px;

  max-width: 500px;
  margin: 25px auto;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
}

.create-form h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.create-form p {
  color: #777;
  margin-bottom: 15px;
}

/* Inputs */
.input-pro {
  width: 100%;
  padding: 12px;

  border-radius: 12px;
  border: 1px solid #e0e0e0;

  background: #f9f9f9;

  margin-top: 8px;
  margin-bottom: 15px;
}

.input-pro:focus {
  outline: none;
  border-color: black;
  background: white;
}

/* Dates */
.date-row {
  display: flex;
  gap: 15px;
}

.date-box {
  flex: 1;
}

/* Buttons */
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-cancel {
  padding: 10px 15px;
  border-radius: 12px;
  background: #eee;
}

.btn-create {
  padding: 10px 15px;
  border-radius: 12px;
  background: black;
  color: white;
}

/* Projects */
.projects {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
}
.date-box label {
  font-size: 14px;  /* صغر الحجم */
  color: #555;      /* لون أخف */
  margin-bottom: 5px;
  display: block;
}